.main {
  display: flex;
  flex-direction: column;
}
.app-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.app-header .filter-and-sort {
  display: flex;
  gap: 50px;
}

.app-header .filter-and-sort .input-wrapper .form-floating .form-select {
  width: 250px;
  padding: 0;
  padding-left: 20px;
}

.app-header .statistics-and-addition {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app-header .add-btn a {
  color: white;
  text-decoration: none;
}
